@font-face {
  font-family: Shabnam;
  src: url('../fonts/shabnam.eot');
  src: url('../fonts/shabnam.eot?#iefix') format('embedded-opentype'),
  url('../fonts/shabnam.woff') format('woff'),
  url('../fonts/shabnam.woff2') format('woff2'),
  url('../fonts/shabnam.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  src: url('../fonts/shabnam.eot');
  src: url('../fonts/shabnam.eot?#iefix') format('embedded-opentype'),
  url('../fonts/shabnam.woff') format('woff'),
  url('../fonts/shabnam.woff2') format('woff2'),
  url('../fonts/shabnam.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  src: url('../fonts/shabnam.eot');
  src: url('../fonts/shabnam.eot?#iefix') format('embedded-opentype'),
  url('../fonts/shabnam.woff') format('woff'),
  url('../fonts/shabnam.woff2') format('woff2'),
  url('../fonts/shabnam.ttf') format('truetype');
  font-weight: 300;
}
