<!doctype html>
<html>
<head>
    <!--meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--links-->
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--script-->
    <script type="text/javascript" src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <title> لیست بارها </title>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Barnama Logo -->
    <a class="navbar-brand">
        <img src="../assets/images/logo.png" width="170" alt="">
    </a>
    <!-- Right navigation -->
    <ul class="navbar-nav mr-5 d-none d-lg-inline-flex">
        <li class="nav-item ml-4" data-toggle="tooltip" data-placement="bottom" title="به زودی...">
            <a class="nav-item nav-link d-block text-center">
                <img src="../assets/images/truck.png" class="" alt="truck" height="25">
                <br>
                سفارش حمل بار
            </a>
        </li>
        <li class="nav-item dropdown ml-4">
            <a class="nav-item nav-link d-block text-center" href="board/board.html">
                <img src="../assets/images/monitor.png" class="" alt="monitor" height="25">
                <br>
                تابلو بارنما
            </a>
        </li>
        <li class="nav-item ml-2" data-toggle="tooltip" data-placement="bottom" title="به زودی...">
            <a class="nav-item nav-link d-block text-center">
                <img src="../assets/images/box.png" class="" alt="truck" height="25">
                <br>
                خرده بار
            </a>
        </li>
    </ul>
    <!-- Left User / login controller -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav profile-navbar mr-auto">
            <li class="nav-item ml-4">
                <ul class="navbar-nav mr-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user text-orange ml-1"></i>
                            ورود / ثبت نام
                            <i class="fa fa-angle-down text-orange"></i>
                        </a>
                        <div class="dropdown-menu">
                            <form action="" method="post" accept-charset="UTF-8">
                                <div class="form-group text-right dropdown-item-no-link">
                                    <input type="text" class="form-control" id="mobile" name="username" placeholder="شماره موبایل">
                                </div>
                                <div class="form-group text-right dropdown-item-no-link">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="رمز عبور">
                                </div>
                                <div class="dropdown-item-no-link">
                                    <button type="submit" class="btn btn-block btn-primary mb-3">ورود</button>
                                </div>
                                <div class="form-check text-right dropdown-item-no-link">
                                    <input type="checkbox" name="remember" id="remember-me">
                                    <label for="remember-me">&nbsp;مرا به‌خاطر بسپار</label>
                                </div>
                                <a class="dropdown-item text-right dropdown-item-no-link" href="">
                                    <i class="fa fa-angle-left ml-1 text-primary"></i>
                                    بازیابی رمز عبور
                                </a>
                            </form>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item-no-link text-right mb-2">حساب کاربری ندارید؟
                                <a href="" class="btn btn-block btn-success mt-2">ثبت نام</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Left support -->
        <ul class="navbar-nav contact-navbar pr-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div>
                        <div class="icon d-table-cell align-middle"><i class="fa fa-phone fa-flip-horizontal ml-3 fa-1x text-orange"></i></div>
                        <div class="text d-table-cell align-top text-right">
                            <strong>تماس با ما</strong>
                            <br>
                            <span class="text-gray-500">۰۲۱۵۵۴۵۹۰۳۴</span>
                        </div>
                        <div class="icon d-table-cell align-middle"><i class="fa fa-angle-down text-orange"></i></div>
                    </div>
                </a>
                <div class="dropdown-menu text-right">
                    <div class="text-right dropdown-item-no-link">
                        پشتیبانی ۲۴ ساعته
                        <br>
                        ۰۲۱۵۵۴۵۹۰۳۴
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-right" href="pages/contact.html">
                        تماس با ما
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="flex-center position-ref full-height" id="app">
    <!--<p>حساب شما فعال نشده است. با استفاده از <a href="{{ route('profile.edit') }}" class="alert-link">این لینک</a> پروفایل خود را تکمیل کنید.</p>-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-4 p-2 pb-5 text-center list-filter-sidebar">
                <div>
                    <form>
                        <div class="card shadow mt-3">
                            <div class="card-body">
                                <h6 class="card-title text-right">فیلتر</h6>
                                <hr>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="allItemRadio" name="filterItem" value="all" checked class="custom-control-input">
                                    <label class="custom-control-label" for="allItemRadio">نمایش همه</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="requestsRadio" name="filterItem" value="requests" class="custom-control-input">
                                    <label class="custom-control-label" for="requestsRadio">درخواست‌های بار</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="cargoesRadio" name="filterItem" value="cargoes" class="custom-control-input">
                                    <label class="custom-control-label" for="cargoesRadio">بارهای ثبت شده</label>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="card shadow">
                            <div class="card-body">
                                <h6 class="card-title">
                                    جستجو
                                    <!--<a class="btn btn-link-secondary text-medium" v-if="showRemoveFilterLink" v-bind:href="routeBack">[حذف فیلتر]</a>-->
                                </h6>
                                <hr>

                                <div class="form-group mt-0 pt-0">
                                    <label class="float-right text-small mr-2" for="province-original">مبدا</label>
                                    <select name="province-original" class="form-control custom-select" id="province-original">
                                        <option selected value="0">استان مبدا</option>
                                        <option></option>
                                    </select>

                                    <label for="city-original"></label>
                                    <select name="city-original" class="form-control custom-select" id="city-original" >
                                        <option selected value="0">شهر مبدا</option>
                                        <option></option>
                                    </select>
                                </div>

                                <div class="form-group mt-0 pt-0">
                                    <label class="float-right text-small mr-2" for="province-destination">مقصد</label>
                                    <select name="province-destination" class="form-control custom-select" id="province-destination">
                                        <option selected value="0">استان مقصد</option>
                                        <option></option>
                                    </select>

                                    <label for="city-destination"></label>
                                    <select name="city-destination" class="form-control custom-select" id="city-destination">
                                        <option selected value="0">شهر مقصد</option>
                                        <option></option>
                                    </select>
                                </div>
                                <div class="form-group m-0 p-0">
                                    <label class="float-right text-small mr-2" for="price">کرایه</label>
                                    <select name="price" class="form-control custom-select" id="price">
                                        <option selected value="0">نوع قیمت</option>
                                        <option></option>
                                    </select>
                                </div>

                                <br>
                                <div class="text-left">
                                    <button type="submit" class="btn rounded btn-primary px-4">جستجو</button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card shadow">
                            <div class="card-body">
                                <h6 class="card-title">نوع خودرو</h6>
                                <hr>
                                <div class="custom-control custom-radio mb-2">
                                    <input type="radio" id="carRadio" name="filterCar" value="all" class="custom-control-input">
                                    <label class="custom-control-label" for="carRadio">&#32;همه خودروها</label>
                                </div>
                                <div class="custom-control custom-radio mb-2">
                                    <input type="radio" class="custom-control-input">
                                    <!--<label class="custom-control-label"> </label>-->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-9 col-sm-7">
                <div class="row border-bottom">
                    <div class="col-3 text-right">
                        <div class="row">
                            <h4 class="h4 pt-4 mr-3">آخرین بارهای اعلامی</h4>
                        </div>
                    </div>
                    <div class="col-9" dir="ltr">
                        <div class="row">
                            <div class="col-3 mt-2 pr-0">
                            <a href="" class="btn btn-link-secondary" data-toggle="tooltip" data-placement="bottom" title="سبک نمایش: جدول">
                                <i class="fa fa-table fa-2x"></i>
                                </a>
                            <a href="" class="btn btn-link-secondary active" data-toggle="tooltip" data-placement="bottom" title="سبک نمایش: باکس">
                                <i class="fa fa-th-large fa-2x"></i>
                            </a>
                            </div>
                            <div class="col mt-3" dir="rtl">
                                <ul class="list-inline">
                                    <li class="list-inline-item text-small d-none d-lg-inline-block">مرتب سازی براساس:</li>
                                    <li class="list-inline-item"><a href="" class="btn btn-link-gray">جدیدترین <i class="fas fa-sort-amount-up"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="btn btn-link-gray">قدیمی‌ترین <i class="fas fa-sort-amount-down"></i></a></li>
                                    <li class="list-inline-item"><a href="" class="btn btn-link-secondary">قیمت <i class="fa fa-money-bill-alt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row board-container">
                    <div class="col-lg-3 col-md-5 col-xs-8 my-4 board-cargo">
                        <div class="card mb-3">
                            <div class="card-body p-0 box-shadow">
                                <ul class="card-text p-3 text-right list-unstyled">
                                    <li class="mb-2"><strong>نوع محموله:&nbsp;</strong></li>
                                    <li class="mb-2">مبدا:&nbsp;&nbsp;</li>
                                    <li class="mb-2">مقصد:&nbsp;&nbsp;</li>
                                    <li class="mb-2">وزن بار:&nbsp;</li>
                                    <li class="">ناوگان:&nbsp;</li>
                                </ul>
                                <div class="card-footer text-center">
                                    <a href="" class="text-white btn-block">مشاهده جزئیات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<p class="m-5 text-danger">چیزی پیدا نشد</p>-->
                </div>
                <br>
                <div class="justify-content-center row" dir="ltr">
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="container-fluid footer-container">
        <div class="row copyright-row bg-dark text-center p-2">
            <div class="col text-right text-gray-500 mt-3">
                تمام حقوق این وب سایت برای سامانه‌های هوشمند بارنما محفوظ است.
            </div>
            <div class="col text-left">
                <span class="fa-stack fa-2x text-danger">
                    <a href="mailto:barnama.org@gmail.com">
                        <i class="fa fa-circle fa-stack-2x text-gray-700"></i>
                        <i class="fa fa-envelope fa-stack-1x text-gray-500"></i>
                    </a>
                </span>
                <span class="fa-stack fa-2x text-danger">
                    <a>
                        <i class="fa fa-circle fa-stack-2x text-gray-700"></i>
                        <i class="fab fa-telegram fa-stack-1x text-gray-500"></i>
                    </a>
                </span>
                <span class="fa-stack fa-2x text-danger">
                    <a>
                        <i class="fa fa-circle fa-stack-2x text-gray-700"></i>
                        <i class="fab fa-instagram fa-stack-1x text-gray-500"></i>
                    </a>
                </span>
                <span class="fa-stack fa-2x text-danger">
                    <a>
                        <i class="fa fa-circle fa-stack-2x text-gray-700"></i>
                        <i class="fab fa-linkedin-in fa-stack-1x text-gray-500"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>

<script src="../assets/js/app.js"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer>
</script>
</body>
</html>
